@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --netflix-red: 357 92% 47%;
    --netflix-red-hover: 357 92% 52%;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .netflix-gradient {
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
  }
}